<div class="p-2 rounded-4">
    <div class="bg-pokeball pt-4 pb-2 px-2 m-2 rounded-4"
        [class]="pokemon!.types[0].type.name|i18nSelect:typesOfPokemonBackground">
        <div class="container-fluid mx-0 px-0">
            <div class="d-flex justify-content-center gap-5 align-items-center">
                <div class="d-flex align-items-center">

                    <app-arrow-back (click)="setBackPokemon()" style="cursor: pointer;"></app-arrow-back>

                    <span class="text-white display-2 fw-bold text-capitalize ">{{pokemon!.name}}</span>
                </div>

                <span class="text-white display-2 fw-bold">
                    #{{pokemon!.id}}
                </span>
            </div>



            <div class="d-flex align-items-end justify-content-between">

                <div style="cursor: pointer;" [ngStyle]="{ 'visibility': pokemon!.order==1? 'hidden': 'visible'}"
                    (click)="changePokemon(false)">
                    <app-arrow-left></app-arrow-left>
                </div>




                <div class=" mt-5 text-center">
                    <img [src]="pokemon?.image" [alt]="pokemon!.name" class="pokemon-img">
                </div>

                <div class=" text-end" style="cursor: pointer;" (click)="changePokemon()">
                    <app-arrow-right></app-arrow-right>
                </div>


            </div>






            <div class="bg-white rounded-4 pb-5">
                <div class="d-flex justify-content-center gap-5 align-items-center">
                    <div *ngFor="let type of pokemon?.types"
                        class="rounded-pill text-capitalize text-white fw-bold fs-1 px-5 py-2"
                        [class]="type.type.name|i18nSelect:typesOfPokemonBackground">
                        {{type.type.name}}
                    </div>
                </div>

                <p class="text-center fw-bold mt-5 display-3"
                    [class]="pokemon!.types[0].type.name |i18nSelect:typesOfPokemonsText">
                    About
                </p>

                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-5  col-sm-7 col-11">
                        <div class="row ">
                            <div class="col border-end">
                                <div class="d-flex align-items-end gap-3">

                                    <app-weight></app-weight>

                                    <span class="display-6 fw-bold">
                                        {{pokemon?.weight}} kg
                                    </span>

                                </div>

                                <p class="text-start ms-4 fs-4 ">Weight</p>
                            </div>
                            <div class="col border-end">
                                <div class="d-flex align-items-end gap-3">

                                    <app-height></app-height>

                                    <span class="display-6 fw-bold">
                                        {{pokemon?.height}} m
                                    </span>

                                </div>

                                <p class="text-start ms-4 fs-4 ">Height</p>

                            </div>
                            <div class="col">
                                <ul class="list-unstyled list-group list-group-flush">
                                    <li *ngFor="let move of pokemon?.moves" class="list-group-item fs-3 fw-bold py-0">
                                        {{move.move.name}}
                                    </li>
                                </ul>

                                <p class="text-start ms-4 fs-4 ">Moves</p>
                            </div>
                        </div>

                    </div>

                </div>

                <p class="text-center fs-4 mt-4 mx-4">
                    {{descriptionOfPokemon}}
                </p>


                <p class="text-center fw-bold mt-5 display-3"
                    [class]="pokemon!.types[0].type.name |i18nSelect:typesOfPokemonsText">
                    Base Stats
                </p>

                <div class="row justify-content-center ">
                    <div class="col-8 col-md-6">
                        <div class="row">
                            <ul class="col-2 list-unstyled border-end">
                                <li class="fw-bold fs-4 d-flex flex-column align-items-center"
                                    [class]="pokemon!.types[0].type.name |i18nSelect:typesOfPokemonsText"
                                    *ngFor="let stat of pokemon?.stats">
                                    {{stat.stat.name | i18nSelect:typesOfPokemonsStats}}
                                </li>
                            </ul>

                            <ul class="col-10 list-unstyled">
                                <li class="d-flex gap-3" *ngFor="let stat of pokemon?.stats">
                                    <span class="fs-4">{{stat.base_stat}} </span>
                                    <input [class]="pokemon!.types[0].type.name |i18nSelect:typesOfPokemonBackground"
                                        #input (change)="input.value=stat.base_stat.toString()" [value]="stat.base_stat"
                                        type="range" class="w-100">
                                </li>
                            </ul>
                        </div>


                    </div>

                </div>

            </div>

        </div>








    </div>
</div>