<div class="rounded-4 p-2">
    <div class="bg-danger pt-4 pb-1 px-1 rounded-4">
        <div class=" container-xxl px-1 pb-1">

            <app-header [numberOfPokemons]="pokemons.length"
                (onNamePokemon)="getPokemonByNameOrId($event)"></app-header>

            <div class="mt-customized bg-white rounded-4 p-5 px-3">


                <ul class="row list-unstyled  g-3">

                    <p *ngIf="pokemons.length===0;else showList" class="alert alert-info text-center text-uppercase fw-bold">
                        Cargando pokemons, por favor espere...
                    </p>


                    <p *ngIf="isProhibited;else showList" class="alert alert-info text-center fw-bold fs-3">
                        No hay resultados de busqueda.
                    </p>


                    <ng-template #showList>
                        <app-card class="col-6 col-sm-4 col-lg-2  rounded-4 my-3 " *ngFor="let pokemon of pokemons"
                            [pokemon]="pokemon">
                        </app-card>
                    </ng-template>

                </ul>

                <app-navigation *ngIf="pokemons.length>1; else backButton"
                    (onNumberOffsetPokemons)="getPokemons($event)" [numberOffsetPokemons]="idSearchedPokemon||0">
                </app-navigation>

                <ng-template #backButton>
                    <button class="btn btn-danger btn-lg" (click)="getPokemons(idSearchedPokemon||0)">
                        &laquo; Back
                    </button>
                </ng-template>

            </div>

        </div>

    </div>
</div>